/* ////////// Global Styles ////////// */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 10px;
}

/* .aboutpage {
  margin-left: 10px;
  margin-right: 15px;
} */

span {
  text-decoration: none;
  font-size: 30px;
  margin-right: 50px;
  color: black;
  background-color: white;
  padding: 10px;
}

span:hover {
  padding: 12px;
  color: rgb(41, 20, 0);
  background-color: rgb(245, 220, 187);
}

body {
  /* margin: 0;  */
  background-image: url(img/backRolls.svg);
}

.section {
  margin-top: 50px;
  background-color: white;
}

/* ////////// Nav Bar Styles ////////// */
a {
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 70px;
  align-content: center;
  font-size: large;
  background-color: rgb(150, 104, 36);
  color: white;
  border: black;
  text-decoration: none;
}
.navlogo {
  padding-bottom: 10px;
  background-color: rgb(223, 210, 193);
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: -10px;
}

#navlinks {
  display: flex;
  padding: auto;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
  overflow: scroll;
}



a:hover {
  color: rgb(41, 20, 0);
  background-color: rgb(245, 220, 187);
}
.nav {
  margin-left: 70px;
}





/* ////////// Hero / Section One Styles ////////// */

.section1 {
  align-content: center;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(17, 66, 75); */
  border-radius: 0;
  color: black;
  /* font-size: 20px;
  text-align: center; */
  padding-left: 70px;
  padding-bottom: 50px;
  background-image: url("img/children.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -230px;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.head1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-top: -50px;
  margin-left: -50px;
}

.sec1buttons {
  display: flex;
  justify-content: center;
  margin-left: -50px;
  padding: 20px;
}

.but3 {
  position: relative;
  left: -100px;
}

.but4 {
  position: relative;
  left: 100px;
}

.title {
  margin: 30px;
  margin-bottom: 50px;
  margin-top: 70px;
  font-size: 29px;
  display: flex;
  justify-content: left;
  margin-left: 0%;
  
}

/* ////////// Section Two Styles ////////// */

.infosection {
  display: flex;

  flex-direction: column;
  /* padding: 150px; */
  
  padding-left: 100px;
  padding-top: 20px;
  padding-right: auto;
  width: auto;
  height: 700px;
}

.textbox2 {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 30px;
  padding-right: auto;
  margin-bottom: -16px;
}

.img1 {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;
  left: 650px;
  top: -650px;
}

.sectionbutton {
  width: auto;
}

/* ///////// Section Three Styles /////////// */

.secheader {
  justify-content: center;
  background-color: beige;
  text-align: center;
  font-size: 30px;
}
.sec4header {
  width: 550px;
}

.sec3minisec1 {
  padding-left: 50px;

  display: flex;
}

.minisec {
  width: 1000px;
  font-size: 25px;
  padding: 25px;
  margin-right: 25px;
  text-align: center;
  background-color: bisque;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 1px;
}

/* ///////// Section Four Styles ////////////// */
.section4 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: fit-content;
  background-image: url("img/autismPic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 700px;
  width: auto;
  height: 1050px;
}
.para1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 25px;
  padding-left: 20px;
}



.txt3 {
  height: 200px;
}

/* /////// Section Five Styles ////////////// */

.section5 {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background-image: url("img/bChildren.svg");
  height: 400px;
 justify-content: center;
 align-items: center;
  
  width: auto;
  padding: 40px;
}

.sec5para {
  width: 700px;
  margin-top: 0px;
}

/* ////////// Footer Styles ///////////////// */

.footer {
  display: flex;
  flex-direction: column;

  /* padding: 20px; */
  padding-bottom: 12px;
  background-color: black;
  color: white;
  position: relative;
}
.footertext {
  width: 500px;
  padding: 20px;
  margin-left: 30px;
  padding-bottom: 40px;
}

.credits-bar {
  position: relative;
  top: 20px;
  text-align: center;
}

/* ////////// About Section One Styles ///////// */

.aboutsection1 {
  background-color: wheat;
  box-shadow: 2px 2px 5px 2px;
  padding: 50px;
  font-size: 20px;
  /* margin: 10px; */
}
/* ////////// About Section Two Styles ///////// */

.aboutsection2 {
  height: fit-content;
padding: 20px;
background-image: none;
  font-size: 25px;
}

/* a {
 align-content: center;
  display: flex;
  padding-left: 2px;
  margin-bottom: auto;
  margin-top: auto;
} */


.servicesection1 {
  background-image: url("img/bChildren.svg");
  color: black;
  overflow: cover;
  height: auto;
  box-shadow: 2px 2px 100px 2px;
}

.servicesection2 {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}

.listsection {
  font-size: 30px;
  text-decoration: underline;
}

.pararow {
 display: flexbox;
  
}

.service {
  width: auto;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  
}

.contactus {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  position: absolute;
  background-color: antiquewhite;
  z-index: 5;
  padding: 100px;
  text-align: center;
  top: 10%;
  left: 20%;
  border-radius: 0;
  font-family: 'Courier New', Courier, monospace;

}

.overlay {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  
  
  backdrop-filter: blur(10px);
  opacity: 0.5;
  z-index: 1;
  
  
}

.hidden {
  display: none;
}